@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'DotGothic16';
		src: local('DotGothic16'), local('DotGothic16-Regular'),
			url('/fonts/DotGothic16-Regular_optimized.ttf');
		font-weight: normal;
	}

	@font-face {
		font-family: 'Space Grotesk';
		src: local('Space Grotesk'), local('SpaceGrotesk'), local('spacegrotesk'),
			local('space grotesk'), url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
		font-weight: 300 400 500 600 700;
	}

	@font-face {
		font-family: 'Space Mono';
		src: local('Space Mono'), local('SpaceMono'), local('spacemono'), local('space mono'),
			url('/fonts/SpaceMono-Regular.ttf');
		font-weight: normal;
	}
}

@layer components {
	.card-transparent {
		@apply rounded-2xl bg-base-100 bg-opacity-40 shadow-xl backdrop-blur-md;
	}
	.card-ml {
		@apply ml-[2.5%] sm:ml-[5%];
	}
	.card-mr {
		@apply mr-[2.5%] sm:mr-[5%];
	}
}
