name: Check Code Quality

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 21
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier Check
        run: |
          npm run lint
